html, body, div, span,h1,

p,ul,li {
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: #f1f1f1;
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    font-family: 'garamond,serif',
    Verdana,
    sans-serif;
}

ol, ul {
    list-style: none;
}


.app-title {
    font-size: 52px;
    padding : 20px; 
    line-height: 52px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.8px;
    text-shadow: 2px 3px 0px lightseagreen;
}

.btn {
    background: lightseagreen;
    color: #fff;
    padding: 3px 10px;
    margin: 0 0 0 3px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    vertical-align: bottom;
}


.btn:hover {
    background: red;
}

.btn-emoji {
    background: rgb(226, 229, 232);
    font-size: medium;
}

.btn-emoji:hover{
    background: lightslategrey;
}



